services:
  - type: web
    name: mobile-backend
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: PORT
        value: 5001
      - key: MONGODB_URI
        sync: false
      - key: NODE_ENV
        value: development
      - key: JWT_SECRET
        sync: false
